/**
.fieldtable {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    background-color: white;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    border: 1px solid black;
  }
  
  td {
    border: 1px solid lightgray;
  }
  
  form {
    /* display: flex; 
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    /* font-size: 28px; 
  }
  x*/