.mainpage{
    display: flex;
    height: 100%;
    align-items: left;
    width: 90%;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 150px;
    padding-top: 50px;
}

.mainpage h1 {
    font-style: normal;
    font-size: 64px;
    padding-bottom: 10px;
}

.mainpage h2 {
    font-style: normal;
    font-size: 28px;
    padding-bottom: 20px;
}