@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: "poppins",sans-serif;

}
.sidebar-title h2{
    margin: 0;
    padding: 20px 40px;
    border-bottom: 2px solid gray;
    font-weight: bolder;
    font-size: 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    width: 250px;
    height: 100vh;
    background-color: #11101d;
    color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 0 25px 10px rgba(0,0,0,.25);
}
.sidebar-search{
    display: flex;
    padding: 15px 20px;
}
.sidebar-search .input{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: left;
    align-items: auto;
    font-size: 0.9rem;
    background-color: #1d1b31;
    border: none;    
}
.nav-menu-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    cursor: pointer;
}
.sidebar-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0;
    /* padding-left: 50px; */
    transition: all 0.4s ease;
}
.sidebar-elem:hover{
    background-color: #fff;
    color: #11101d;
    border-radius: 12px;
    padding: 10px;
}
.sidebar-elem svg{
    padding-right: 10px;
    align-items: right;
    font-size: 35px;
    cursor: pointer;
}
.sidebar-footer{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #1d1b31;
    margin-top: 130px;
    bottom: 0;
    padding: 18px
}
.sidebar-footer img{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.sidebar-footer svg{
    align-self: center;
    font-size: 30px;
}
.sidebar-footer p{
    align-self: center;
    font-weight: bold;
    text-align: center;
}